body{
    background-color: #4777a7;
    background-blend-mode: soft-light;
    font-size: xx-large;
    text-align: center;
    
}
h1{
    animation: bounce 0.5s infinite;
    
}
@keyframes bounce{
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}
.creadores{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .creator {
    margin: 0 22px;
  }

  .pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
    display: inline-block;
  }

  .pic:hover {
    transform: scale(1.1);
  }

  .apodo{
    color: #fff;;
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
    font-family:cursive;
  }