.container-fluid{
    background-color: #4777a7;
   }
body{
    background-image:url(../media/foro/ff.jpeg);
     background-size:cover;
}
.titulo{
    text-align:center;
    color: #fff;
    font-size:xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.comentario1{
    position: absolute;
    width: 13.75rem;
    height: 11.625rem;
    left: 20%;
    top: 11.25rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 20rem;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #FFFFFF;
}
.public{
    width: 450px;
    height: 400px;
    justify-content: center;
    border-radius: 15px;
    background-color: #fff;
    border-color: black;
    left:50%;
    
}

.publicacion{
    position: absolute;
    text-align: center;
    width: 500px;
    height: 400px;
    left: 52%;
    top: 20%;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{ 
    border: 1px solid #4777A7; 
    background-color: #4777A7; 
    color: #ffffff; 
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    border-radius: 50px;
    transition: transform 500ms;
}
button:hover{
    transform:scale(1.1);
}
input{
    width: 300px;
}
