/*-----------------------------------FONDO------------------------------*/
body{
    background-image: url(../media/fondo_inicio_sesion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*----------------------------------------------------------------------*/
/*-------------------------BARRA DE NAVEGACION--------------------------*/
#escudo{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid #000000;
}
.prepa6{
    position: absolute;
    width: 3.75rem;
    height: 1.1875rem;
    left: 4%;
    top: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 31.25rem;
    font-size: 1rem;
    line-height: 1.1875rem;
    text-align: center;
    color: #FFFFFF;
}
header{
    position: absolute;
    width: 100%;
    height: 3.125rem;
    left: 0rem;
    top: 0rem;   
}
#nav{
    background-color: #4777A7;
}
#btnBusc{
    background-color: #537ca5;
    border-color:#dde3e9;
}
#search{
    width: 15rem;
    height: 2.5rem;
}
#aRegistro{
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    color:#4777A7;
}
#aRegistro:active {
    color: rgb(5, 4, 114);
}
.ayuda{
    position: absolute;
    width: 7.0625rem;
    height: 1.9375rem;
    left: 70%;
    top: 14%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 43.75rem;
    font-size: 0.75rem;
    line-height: 0.8125rem;
    text-align: center;
    z-index: 2;
    color: #FFFFFF;
}
.registrate{
    position: absolute;
    width: 7.0625rem;
    height: 1.9375rem;
    left: 77%;
    top: 35%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 43.75rem;
    font-size: 0.75rem;
    line-height: 0.8125rem;
    text-align: center;
    z-index: 2;
    color: #FFFFFF;
}
.iniciaSesion{
    position: absolute;
    width: 7.0625rem;
    height: 1.9375rem;
    left: 85%;
    top: 35%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 43.75rem;
    font-size: 0.75rem;
    line-height: 0.8125rem;
    text-align: center;
    z-index: 2;
    color: #FFFFFF;
}
/*----------------------------------------------------------------------*/
/*---------------------COMENTARIO DE BIENVENIDA-------------------------*/
.comentario1{
    position: absolute;
    width: 13.75rem;
    height: 11.625rem;
    left: 20%;
    top: 11.25rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 25rem;
    font-size: 1.75rem;
    line-height: 2.5rem;
    color: #FFFFFF;
}
/*----------------------------------------------------------------------*/
/*-----------------------------FORMULARIO-------------------------------*/
main
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10rem;
    height: calc(100% -  3.125rem);

}
.contsa
{
    color: white;
    font-weight: bold;
    font-size: 2rem; 
}
#contfo
{
    width: 21.875rem;
    height: 25rem;
    background: #FFFFFF;
    border-radius: 1.5625rem;
    display: grid;
    justify-content: center;
}

#saludo
{
    display: grid;
    align-items: center;
    justify-items: center;
}


.img{
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #000000;
    border-radius: 50%;
    z-index:2;

}
.comentario2{
    text-align: center;
    width: 15.125rem;
    height: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    z-index:2;
    font-weight: 43.75rem;
    font-size: 1.25rem;
    line-height: 1.875rem;
    letter-spacing: -0.025em;
    color: #000000;
}
.comentario3{
    width: 100px;
    height: 1.0625rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index:2;
    font-weight: 34.375rem;
    font-size: 0.6875rem;
    line-height: 0.9375rem;
    text-align: center;
    color: #000000;
}

input{
    border-radius: 20px;
    border: 2px solid #000000;
    padding: 5px;
    width: 15rem;
    height: 2rem;
}
input:focus{
    background-color: #aeb8c2;
}
.datos{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    justify-content: center;
    padding-top: 10px;
}
.boton{ 
    border: 1px solid #4777A7; 
    padding: 5px; 
    background-color: #4777A7; 
    color: #ffffff; 
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    border-radius: 50px;
    text-align: center;
    transition: transform 500ms;
}
.boton:hover{
    transform:scale(1.1);
}
.opcion{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.usuario{
    position: absolute;
    left: 60%;
    top: 70%;
}
/*----------------------------------------------------------------------*/
/*------------------------------------PHP-------------------------------*/
#conten_error{
    position: fixed;
    top:36%;
    left:29%;
    width: 35rem;
    height: 13rem;
    background-color: rgba(200, 211, 223, 0.5);
}
#btn_error{
    outline: none;
    text-decoration: none;
    transition: 500ms;
}
#btn_error:hover{
    transform:scale(1.1);
}
/*----------------------------------------------------------------------*/
