
/*-------------------------BARRA DE NAVEGACION--------------------------*/
#escudo{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid #000000;
}
.prepa6{
    position: absolute;
    width: 3.75rem;
    height: 1.1875rem;
    left: 4%;
    top: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 31.25rem;
    font-size: 1rem;
    line-height: 1.1875rem;
    text-align: center;
    color: #FFFFFF;
}
header{
    position: sticky;
    width: 100%;
    height: 3.125rem;
    left: 0rem;
    top: 0rem;
    box-shadow: 2px 15px 21px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 15px 21px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 15px 21px 2px rgba(0,0,0,0.75);
    z-index: 3; 
}
#nav{
    background-color: #000000;
}
#btnBusc{
    border-color:#dde3e9;
    background-color: #323333;
}
#search{
    width: 15rem;
    height: 2.5rem;
}
#aRegistro{
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    color:#4777A7;
}
#aRegistro:active {
    color: rgb(5, 4, 114);
}
.ayuda{
    position: absolute;
    width: 7.0625rem;
    height: 1.9375rem;
    left: 70%;
    top: 14%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 43.75rem;
    font-size: 0.75rem;
    line-height: 0.8125rem;
    text-align: center;
    z-index: 2;
    color: #FFFFFF;
}
.registrate{
    position: absolute;
    width: 7.0625rem;
    height: 1.9375rem;
    left: 77%;
    top: 35%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 43.75rem;
    font-size: 0.75rem;
    line-height: 0.8125rem;
    text-align: center;
    z-index: 2;
    color: #FFFFFF;
}
.iniciaSesion{
    position: absolute;
    width: 7.0625rem;
    height: 1.9375rem;
    left: 85%;
    top: 35%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 43.75rem;
    font-size: 0.75rem;
    line-height: 0.8125rem;
    text-align: center;
    z-index: 2;
    color: #FFFFFF;
}
.contmax
{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: minmax(910px, auto);
}

.contmax #navj
{
    background-color: #25282C;
    padding: 1rem;
}
.contmax #contenidox
{
    background-color: #2d3136;
    padding: 1rem;
}

.contmax #contenidop
{
    background-color: #2d3136;
    padding: 1rem;
}
.contmax #contenidopc
{
    background-color: #2d3136;
    padding: 1rem;
}

#navj
{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

#fusu
{
    display: flex;
    align-items: center;
}


#imgusu
{
    height: 30px;
}


#nusu
{
    color: white;
    font-size: 12px;
}


#pc
{
    height: 50px;
    display: flex;
    padding-left: 7px;
    align-items: center;
}

#fpc
{
    width: calc(100% - 40px);
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

#appc
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

#letpc
{
    height: 30px;
    width: 30px;
}

#contenidopc
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contpc
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#prespc
{
    height: 250px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#impc
{
    width: 781px;
    height: 185px;
    line-height: 300px;
    padding-top: 60px;
    background-image: url(../media/chatsjuegos/fpc.png);
    border-radius: 15px;
    margin-top: 1rem;
}

#txtpc
{
    color: white;
    font-size: 1.5rem;
    width: 650px;
}

#forog
{
    margin-top: 20px;
    padding-bottom: 10px;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    color: white;
    width: 500px;
    background-image: url(../media/chatsjuegos/lolf.png);

}
.contlol
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#lol{
    width: 300px;
}

#lollo
{
    width: 300px;
}
#lollo:hover
{
    scale: 1.3;
    transition: 1000ms;
}

#mensajes
{
    margin-top: 25px;
}

#dimensaj
{
    margin-top: 20px;
    display: flex;
    flex-direction:column-reverse ;
}

.mensajj
{
    margin-top: 20px;
    font-size: 20px;
    width: 450px;
    background-color: #25282C;
    color: white;
    border-radius: 5px;
    border: solid black 1px;
    display: flex;
    align-items: center;
}

input
{
    border-radius: 10px;
    width: 430px;
    background-color: #25282C;
    color: white;
    height: 45px;
}
#btne
{
    border-radius: 10px;
    background-color: #25282C;
    color: white;
    height: 45px;
}
.contm
{
    width: fit-content;
    color: white;
    font-size: 7px;
    height: 10px;
}

#usua
{
    width: fit-content;
    font-size: 15px;
    color: aqua;
    height: 10px;
}


@media (max-height:710px){

    .contmax    
    {
        grid-template-rows: minmax(590px, auto);
    }

    #prespc
    {
        height: 166.66px;
        width: 533.33px;
    }

    #impc
    {
        background-image: url(../media/chatsjuegos/fpcp.png);
        width: 520.66px;
        height: 123.33px;
        
    }

    #txtpc
    {
        color: white;
        font-size: 1rem;
        width: 433.33px;
    }

    #forog
    {
        margin-top: 13.33px;
        width: 433.33px;
        padding-bottom: 6.66px;
        background-color: #58595b;
        border-radius: 20px;
        border: 1px solid #FFFFFF;
        
    }

}

@media (min-height:1000px){

    .contmax    
    {
        grid-template-rows: minmax(1230px, auto);
    }

}