.opciones > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  color: black;
}
.opciones > a:hover {
  background-color: #4777a7;
}
aside {
    background-color: #e9ecef;
    min-width: 20%;
    min-height: 100vh;
    display: inline-block; /* Cambio de inline-flex a inline-block */
    border-right: 1px solid black;
    
  }
  #contmax
  {
    min-width: 80% ;
    position: absolute;
    left: 20%;
    top:50px;
  }
  #cont-pp
  {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  .img{
    width: 2rem;
    height: 2rem;
    justify-self: center;

  }
  body{
   height:500px;
  }
 .container-fluid{
  background-color: #4777a7;
 }

 #cont-fdp-in
 {
  display: flex;
  flex-direction: column;
 }

 #img-p
 {
  width: 100%;
  height:100%;
 }

 #cont-input-p
 {
  display: flex;
 }

 #portada
 {
    width: fit-content;
 }
 #Subir_portada
 {
  width: fit-content;
 }

#per_portada{
  background-color: darkgray;
  width: 1480px;
  height:300px;
  
}
#perfil{
  width: fit-content;
  border-radius: 200px;
  background-color:#e9ecef;
}
#foto2{
  align-items: center;
}

#img
{
  border-radius: 50%;
  z-index: 0;
}
#cont-input
{
  margin-left: 10px;
}

#foto
{
  z-index: 2;
}
#subir_foto
{
  z-index: 2;
}

#cont-datosp
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
}

#cont-fp-dp
{
  display: flex;
}