/*-----------------------------------FONDO------------------------------*/
body{
    background-image: url("../media/2fondo_busquedas.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}
/*----------------------------------------------------------------------*/
/*-------------------------BARRA DE NAVEGACION--------------------------*/
#escudo{
width: 2.5rem;
height: 2.5rem;
border-radius: 50%;
border: 1px solid #000000;
}
.prepa6{
position: absolute;
width: 3.75rem;
height: 1.1875rem;
left: 4%;
top: 0%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 31.25rem;
font-size: 1rem;
line-height: 1.1875rem;
text-align: center;
color: #FFFFFF;
}
header{
position: absolute;
width: 100%;
height: 3.125rem;
left: 0rem;
top: 0rem;   
}
#nav{
background-color: #4777A7;
}
#btnBusc{
background-color: #537ca5;
border-color:#dde3e9;
}
#search{
width: 15rem;
height: 2.5rem;
}
#aRegistro{
outline: none;
text-decoration: none;
padding: 2px 1px 0;
color:#4777A7;
}
#aRegistro:active {
color: rgb(5, 4, 114);
}
.ayuda{
position: absolute;
width: 7.0625rem;
height: 1.9375rem;
left: 70%;
top: 14%;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-weight: 43.75rem;
font-size: 0.75rem;
line-height: 0.8125rem;
text-align: center;
z-index: 2;
color: #FFFFFF;
}
.registrate{
position: absolute;
width: 7.0625rem;
height: 1.9375rem;
left: 77%;
top: 35%;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-weight: 43.75rem;
font-size: 0.75rem;
line-height: 0.8125rem;
text-align: center;
z-index: 2;
color: #FFFFFF;
}
.iniciaSesion{
position: absolute;
width: 7.0625rem;
height: 1.9375rem;
left: 85%;
top: 35%;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-weight: 43.75rem;
font-size: 0.75rem;
line-height: 0.8125rem;
text-align: center;
z-index: 2;
color: #FFFFFF;
}

/*----------------------------------------------------------------------------------------------------------------------*/


main
{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}






#contpubli
{
margin-top: 6rem;
background-color: #FFFFFF;
width: 350px;
display: flex;
flex-direction: column-reverse;
}

.Foros
{
display: flex;
flex-direction: column;
border-bottom: solid black 3px;
align-content: center;
background-color: #fdf4c1;
border-radius: 2rem;
}



h1
{
align-self: center;
color:#4777A7;
}

h2
{
font-size: 1.2rem;
}

h5
{
font-size: 1rem;
}

#btn_nuevoForo
{
z-index: 2;
background-image: url(../media/forodis/boton+.png);
position: absolute;
top: 5rem;
right: 4rem;
width: 60px;
height: 60px;
border-radius: 50%;
}
#btn_nuevoForo:hover
{
scale: 1.5;
transition: 500ms;
cursor: pointer;
}
#mapa
{
    position: absolute;
    top: 10rem;
    left: 4rem;
}
#mapa:hover{
    scale: 1.2;
    transition: 500ms;
    cursor: pointer;
}

@media (max-height:710px){

    #contpubli
    {
        width: 233.33px;
    }

    h2
    {
        font-size: 0.8rem;
    }

    p
    {
        font-size: 0.8rem;
        width:fit-content;
        color: blue;
        border-bottom:solid blue 1px;
    }
}