body{
    background-color:#183f66;
    background-image: url('../media/logo.png');
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
}
.claseTexto{
    font-size: medium;
    z-index: 2;
}
h2{
    text-align: center;
    z-index: 2;
}
h1{
    text-align: center;
    z-index: 2;
}