/*---------------------------------FONDO------------------------------*/
body{
    background-image: url(../media/fondo_ventas.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*--------------------------------------------------------------------*/
/*------------------------BARRA DE NAVEGACION-------------------------*/
header{
    position: absolute;
    background-color: #4777A7;
    width: 100%;
    height: 3.5rem;
    left: 0rem;
    top: 0rem;
}
#escudo{
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    left: 1%;
    top: 10%;
    border-radius: 50%;
    border: 1px solid #000000;
}
#prepa6{
    position: relative;
    width: 3.75rem;
    height: 1.1875rem;
    left: 5%;
    top: 33%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 31.25rem;
    font-size: 1rem;
    line-height: 1.1875rem;
    text-align: center;
    color: #FFFFFF;
}
#buscar{
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 5px;
    top: 11%;
    left: 11%;
    width: 15rem;
    height: 2.5rem;
    text-indent: 15%;
    font-size: 0.8rem;
    border-style: none;
}
#search{
    position: absolute;
    background-color:#537ca5;
    border-radius: 5px;
    color: #FFFFFF;
    top: 11%;
    left: 30%;
    width: 4.5rem;
    height: 2.5rem;
    font-size: 0.9rem;
    border-color: #FFFFFF;
}
#lupa{
    position: absolute;
    width:20px;
    height:20px;
    left: 11.5%;
    top: 30%;
    z-index: 3;
}
a{
    text-decoration: none;
    color:#FFFFFF;
}
#explora{
    position: absolute;
    width: 7.0625rem;
    height: 1.9375rem;
    left: 73%;
    top: 14%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 45rem;
    font-size: 0.9rem;
    line-height: 0.8125rem;
    z-index: 2;
    text-align: center;
    color: #FFFFFF;
}
#i{
    margin-top: 13px;
}
li{
    display: none;
    padding-top: 10px;
    height: 30px;
    list-style: none;
    text-decoration: none;
    background-color: #4777A7;
    border-top:solid 2px hsl(0, 0%, 100%);
}
ul:hover> li {
    display: block;
}
li:hover{
    background-color: #8cb6e0;
}
#linea{
    position: absolute;
    width: 7.0625rem;
    height: 1.9375rem;
    left: 79%;
    top: 4%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 43.75rem;
    font-size: 1.5rem;
    line-height: 0rem;
    text-align: center;
    z-index: 2;
    color: #FFFFFF;
}
#regis{
    position: absolute;
    width: 7.0625rem;
    height: 1.9375rem;
    left: 83%;
    top: 22px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 43.75rem;
    font-size: 0.9rem;
    line-height: 0.8125rem;
    text-align: center;
    z-index: 2;
    color: #FFFFFF;
}
#inse{
    position: absolute;
    width: 7.0625rem;
    height: 1.9375rem;
    left: 90%;
    top: 22px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 43.75rem;
    font-size: 0.9rem;
    line-height: 0.8125rem;
    text-align: center;
    z-index: 2;
    color: #FFFFFF;
}
/*--------------------------------------------------------------------*/
/*------------------------------COMENTARIO----------------------------*/
h1{
    position: absolute;
    top: 8%;
    left: 380px;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*--------------------------------------------------------------------*/
/*-----------------------------FORMULARIO-----------------------------*/
#recuadro{
    position: absolute;
    top: 20%;
    left: 33%;
    width: 33%;
    height: 72%;
    background-color: #FFFFFF;
    border-radius: 60px;
}
form{
    left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding-left: 3%;
    padding-top: 2%;
    line-height: 30px;
}
label{
    left: 10%;
}
input{
    border-radius: 50px;
    width: 15rem;
}
.pre{
    width: 7rem;
}
.boton{
    border: 1px solid #4777A7; 
    padding: 5px; 
    background-color: #4777A7; 
    color: #ffffff; 
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    border-radius: 50px;
    text-align: center;
    transition: transform 500ms;
}
.boton:hover{
    transform:scale(1.1);
}
/*--------------------------------------------------------------------*/