<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../Statics/media/Escudo.png" type="image/png">
    <link rel="stylesheet" href="../Statics/styles/busqueda_principal.css">
    <link rel="stylesheet" href="../libs/bootstrap-5.3.0-dist/css/bootstrap.css">
    <script src="../libs/bootstrap-5.3.0-dist/js/bootstrap.bundle.js"></script>
    <script src="../Dynamics/JS/busquedas_principal.js"></script>
    <title>Busquedas</title>
</head> 
<body>
    <!-- Barra de navegacion -->
    <header class=barra>
        <nav class="navbar navbar-expand-lg" id="nav">
            <div class="container-fluid">
                <img src="../Statics/media/Escudo.png" alt="ENP6" width="30" height="24" class="d-inline-block align-text-top text-light" id="escudo">
                <a class="navbar-brand text-light" href="https://www.prepa6.unam.mx/ENP6/_P6/">ENP6</a><br>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Buscar en ENP6" aria-label="Search" id="search">
                        <button class="btn btn-outline-success text-light" id="btnBusc" type="submit">Buscar</button>
                </form>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" class="ayuda" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Explorar
                            </a>
                            <ul class="dropdown-menu" id="nav">
                            <li><a class="dropdown-item text-dark" href="../Dynamics/PHP/foro_general.php">Comunidad</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item text-dark" href="./ventas.html">Ventas</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item text-dark" href="./juego.html">Juegos</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item text-dark" href="../Dynamics/PHP/menu.php">Menú principal</a></li>
                            </ul>       
                        </li>
                        <li class="nav-item"> 
                        <a class="nav-link active text-light" aria-current="page" href="../index.html">inicia sesión</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-light" href="./registro.html">registrate</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> 
    <!-- Comentarios -->
    <div id="comentario1">
        <h2><strong>¿Perdiste algo?<br>Apoyate en los demás.</strong></h2>
        <img src="../Statics/media/icono_lupa.png" alt="lupa" width="50" height="47"  id="lupa">
    </div>
    <div id="comentario2">
        <h6><strong>Aquí puedes crear una publicación que te permitirá buscar lo que hayas perdido. Recuerda ser respetuoso y no publicar contenido inapropiado. ¡Esperamos que pronto encuentres lo que buscas!</strong></h6>
    </div>
    <!-- Formulario busquedas -->
    <div id="forms" class="datos">
        <form action="../Dynamics/PHP/buscar_obj.php" method="POST" enctype="multipart/form-data" class="publicacion">
            <label>Título:<br>
              <input type="text" name="titulo" id="titulo" required></input></label>
            <label>Descripción:<br>
                <input type="text" name="descripcion" id="descripcion" required></input></label>
            <label>Lugar:<br>
                <input type="text" name="lugar" id="lugar" required></input></label>
            <label>Recompensa:<br>
                <input type="text" name="recompensa" id="recompensa" required></input></label>
            <input type="file" name="imagen" id="imagen"  accept="image/*">
          <button type="submit" id="Continuar" name="Continuar" value="0">Publicar</button><br>
        </form>
    </div>
    <div></div>
</body>
</html>